
body,h1,p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #15120D;
    color: aliceblue;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

header {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
}
  
header h1 {
font-size: 18px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 60px;
    padding: 80px;
   grid-column-gap: 60px;
}

.box {
    background-color: black;
    border: 1px solid lightblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

footer {
    background-color: white;
    color: #15120D;
    text-align: center;
    padding: 10px 0;
}































