* {
    border: 1px solid rgb(0, 204, 255);
    background-color: rgb(47, 113, 171);
  }
  
  p {
    color: rgb(45, 0, 128);
  }
  
  h1 {
    color: rgb(128, 0, 128);
  }
  
  .title {
    color: teal;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title {
    font-family: cursive;
  }
  
  a[href*='florence'] {
    color: rgba(202, 238, 144, 0.695);
  }
  
  a[href*='beijing'] {
    color: lightblue;
  }
  
  a[href*='seoul'] {
    color: lightpink;
  }
  
  a:hover {
    color:rgba(255, 140, 0, 0.7);
  }
  
  .heading-background {
    background-color: aqua;
  }
  
  #publish-time {
    color: lightgray;
  }
  
  h5 {
    color: yellow;
  }
  
  .author-class {
    color: pink;
  }
  
  #author-id {
    color: cornflowerblue;
  }
  
  h2.destination {
    font-family: Tahoma;
  }
  
  .description h5 {
    color: blueviolet;
  }
  
  li h4 {
    color: gold;
  }
  
  h4 {
    color: dodgerblue;
  }
  
  
  



    
















