body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #db9c60; 
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 70px; 
    margin-right: 10px;
}

nav {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 20px;
}

.hero {
    text-align: center;
}

footer {
    background-color: #db9c60; 
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

